body {
  font-family: Lucida Console, lucida, courier;
	font-size: 1em;
	color: #666666;
	background-color: white
}

body.black {
	background-color: black;
	color: #999999;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.show {	display: block; }

.hide { display: none; }

.header {
	width: 100%;
	position: fixed;
}

.nav,
.navoff {
	width: 500px;
	position: fixed;
	bottom: 1em;
	right: 0;
}

.lightswitch,
.lightswitchoff {
	position: fixed;
	top: 0;
	right: 0;
}

.logo {
	position: fixed;
	top: 0;
	left: 0;
}

.content {
	padding-top: 5em;
	padding-bottom: 15em;
	padding-right: 10px;
	padding-left: 10px;
}

img {
	width: 100%;
	height: 100%;
	padding: .5em;
}

img.where {
	padding: .075em;
	float: left;
	width: 60%;
}

img.where_sm {
	padding: .075em;
	float: left;
	width: 20%;
}

img.pano {
	width: 100%;
}

img.tall {
	width: 35%;
}

img.link {
	width: 80%;
	height: 80%;
}

img.piclink {
	height: 50%;
	width: 50%;
	padding: 0em;
	float: right;
}

img.navlink {
	height: 60%;
	width: 60%;
	float: right;
	display: block;
}

img.what {
	height: 20%;
	width: 20%;
	float: left;
}

a:link {
	text-decoration: none;
	color: #cccccc;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #999999;
}

a:visited {
	text-decoration: none;
	color: #cccccc;
	font-weight: normal;
}

a:active {
	text-decoration: none;
}

.welcome {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 300px 0;
}

.who {
	padding-top: 7em;
	padding-bottom: 30em;
}

.what {
	padding-top: 7em;
}

.where {
	padding-top: 7em;
}

iframe {
	width: 90%;
	height: 600px;
	display: block;
	margin: 0 auto;
	border: 0;
}

@media (max-width: 625px) {

	img.what {
	height: 60%;
	width: 60%;
	float: left
    }

    img.navlink {
	height: 50%;
	width: 50%;
	float: right;
    }

    .welcome {
    padding-bottom: 800px;
    }
 }