html {font-size: 100%;
}

body {
    font-family: Lucida Console, lucida, courier;
	font-size: 1em;
	color: #666666;	
	background-color: white
}

.header {
	position: fixed;
}

.nav {
	position: fixed;
	bottom: 0;
	right: 0;
}

.lightswitch {
	position: fixed;
	top: 0;
	right: 0;
}

.logo {
	position: fixed;
	top: 0;
	left: 0;
}

p {
	
}

hr {
	color: #ffffff;
	height: 75px;
	border: none;
	box-shadow: none;
}

img {
	padding: 5px;
}

img.link {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

img.piclink {
	padding: 0px;
	float: right;
}

a:link {
	text-decoration: none;
	color: #cccccc;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #999999;
}

a:visited {
	text-decoration: none;
	color: #cccccc;
	font-weight: normal;
}

a:active {
	text-decoration: none;
}

.welcome {
	padding-top: 15em;
	padding-bottom: 20em;
	padding-right: 50%;
	padding-left: 50%;
}

.who {
	padding-top: 7em;
	padding-bottom: 20em;
}

.what {
	padding-top: 7em;
}

.where {
	padding-top: 7em;
}

@media (min-width: 625px) {


	}