<div id="#nav" class="bottom-right" style="text-align: right;">
  <a href="#"><h1 id="who-nav" class="opposite">WHO</h1></a>
	<a href='#'><h1 id="what-nav" class="opposite">WHAT</h1></a>
	<a href="#"><h1 id="where-nav" class="opposite">WHERE</h1></a>
</div>