<div id="home" class="full-vh">
  <h3 class="padded">
    <span id="welcome"></span>
    <span id="rewelcome"></span>
  </h3>
</div>

<div id="who" class="full-vh">
  <h3>Who's Juli?</h3>
  <p>
    Juli is a musician, creative developer and educator born and raised in Southern California. She hold a bachelors from USC and two certificates in web development from General Assembly. A former LA County Arts Commission intern and graduate of the Leadership in Arts Management Program, Juli plans to use her unique blend of artistry and engineering to solve big data issues for the arts.  
  </p>

  <p>
    She spends most of her free time geeking out with G.G. (her 10lb lap dog), attending live events and making dinners with her boyfriend, T.J... Apparently she's got a thing for people with initials as names. 
  </p>
</div>

<div id="what" class="full-vh">
  <h3>What does she do?</h3>
</div>

<div id="where" class="full-vh">
  <h3>Where's she at?!</h3>
</div>
