<div id="home" class="full-vh">
  <h3 class="padded">
    <span id="welcome"></span>
    <span id="rewelcome"></span>
  </h3>
</div>

<div id="who" class="full-vh">
  <%= render 'who' %>
</div>

<div id="what">
  <%= render 'what' %>
</div>

<div id="where" class="full-vh">
  <%= render 'where' %>
</div>
