<div id="home" class="full-vh">
  <h3 id="welcome"></h3>
</div>

<div id="who" class="full-vh">
  <h3>Who's Juli?</h3>
</div>

<div id="what" class="full-vh">
  <h3>What does she do?</h3>
</div>

<div id="where" class="full-vh">
  <h3>Where's she at?!</h3>
</div>
