body {
	padding: 25px 25px;
	z-index: 0;
}

.full-vh {
	height: 100vh;
	padding-top: 100px;
	overflow: scroll;
}

.padded {
	padding-top: 15%;
}

/*header and navigation stuff*/
	.header {
		position: fixed;
		top: 0;
		left: 50px;
	}

	.pully {
		position: fixed;
		right: 10px;
		width: 12.5%
	}

	#nav {
		z-index: 100;
		position: fixed;
		top: 100px;
		left: 80%;
		width: 100%;
	}

	a, a:active, a:visited {
		text-decoration: none;
		color: #7f7f7f
	}

	a:hover {
		color: #aaaaaa
	}

	.rotated {
	 position: fixed;
	 transform: rotate(90deg);
   transform-origin: left bottom;
   margin-top: -65px;
	}

/*font stuff */
		.center {
			text-align: center
		}

		.big {
			font-size: 5vw
		}

		.med {
			font-size: 3vw
		}

		.opaque {
			background-color: rgba(255, 255, 255, 0.8);
			border: 1px solid white
		}


/* grid layout stuff */
		.top-left {
			position: absolute;
			top: 10px;
			left: 10px
		}

		.bottom-right {
			position: fixed;
			bottom: 10px;
			right: 10px
		}

		.linkWidth {
			width: 33%;
			display: inline-block;
		}

/* SMALL SCREEN */
	@media (max-width: 800px) {
			.bottom-right {
				font-size: 2vw
			}

			.header {
				font-size: 2vw;
				text-align: center;
				margin-bottom: 5px
			}
			
			.pully {
				right: -20px;
			}
		}